{% extends "index.html" %}

{% block content %}

  
  <div  style="padding:80px;">
  <form action = "http://localhost:5000/ImageSearch" method = "POST" 
  enctype = "multipart/form-data" action="/ImageSearch" class="form-inline">

  <input type = "file" name = "file" class="form-control" />
  <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
</form>
</div>

{% endblock %}
{% block results%}
  <p>
    <div class="text-center">
    <figure class="figure">
        <img src={{imgname}} class="figure-img img-fluid rounded" alt="uploaded">
        <figcaption class="figure-caption text-below"><b>Generated Caption:</b>{{caption}}</figcaption>
      </figure>
      </div>
  </p>
  <p>

    <table style="padding:10pxs;" class="table">
      <tr>
        <th>
          Images
        </th>
        <th> Scores</th>
      </tr>
      {% for i in range(0,10) %}
      <tr>
          <td><img src={{imgres[i]}} class="img-thumbnail" style="width:200px;height:200px;"></td>
          <td>{{scores[i]}}</td>
      <td></td>
      </tr>
  {% endfor %}
    </table>
  </p>


{% endblock%}